# Normalize line endings for all text files.
* text=auto eol=lf

# Ignore non-production files when exporting the source code.
/.github export-ignore
/.gitignore export-ignore
/README.md export-ignore
/examples export-ignore
/tests export-ignore
